/PRACTICAS/EjerciciosJava/target/
/PRACTICAS/Civitas/nbproject/private/
/PRACTICAS/Civitas/build/
/PRACTICAS/Civitas/dist/
/PRACTICAS/p3/Civitas/nbproject/private/
/PRACTICAS/p3/Civitas/build/
/PRACTICAS/EjerciciosJavaP4/nbproject/private/
/PRACTICAS/EjerciciosJavaP4/build/
/PRACTICAS/Civitas - copia/build/
/PRACTICAS/Civitas - copia/dist/
/PRACTICAS/Civitas - copia/nbproject/private/
/PRACTICAS/P4/Civitas - copia/build/
/PRACTICAS/P4/Civitas - copia/dist/
/PRACTICAS/P4/Civitas - copia/nbproject/private/
/PRACTICAS/p5/TutorialP5/nbproject/private/
/PRACTICAS/p5/TutorialP5/build/
/PRACTICAS/P4/Civitas/nbproject/private/
/PRACTICAS/p5/Civitas/nbproject/private/
/PRACTICAS/p5/Civitas/build/
/PRACTICAS/p5/Civitas/dist/
